<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syc.springboot_ford.mapper.UserMapper" >
    <!-- 增加 -->
    <resultMap id="BaseResultMap" type="com.syc.springboot_ford.entity.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="birth" column="birth" jdbcType="TIMESTAMP"/>
        <result property="workCity" column="workCity" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="education" column="education" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_User_List">
        id,username,name,password,state,birth,workCity,address,education
    </sql>

</mapper>